body{
  padding: 20px;
  font-family: sans-serif;
  font-weight: 100
}

button{
	background:green;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	border-right: 15px;
}

h1{
	text-align: center;
}

input{
	width: 100%;
}

div{
	text-align: center;
}

